@font-face {
  font-family: 'tangent';
  src:  url('fonts/tangent.eot?tdk4yh');
  src:  url('fonts/tangent.eot?tdk4yh#iefix') format('embedded-opentype'),
    url('fonts/tangent.ttf?tdk4yh') format('truetype'),
    url('fonts/tangent.woff?tdk4yh') format('woff'),
    url('fonts/tangent.svg?tdk4yh#tangent') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'tangent' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-eye:before {
  content: "\45";
}
.icon-padlock:before {
  content: "\6c";
}
.icon-checked:before {
  content: "\2f";
}
.icon-send-button:before {
  content: "\3d";
}
.icon-dots-three-horizontal:before {
  content: "\2022";
}
.icon-meh:before {
  content: "\2d";
}
.icon-image:before {
  content: "\50";
}
.icon-camera:before {
  content: "\43";
}
.icon-link:before {
  content: "\4c";
}
.icon-icon:before {
  content: "\23";
}
.icon-uni32:before {
  content: "\5e";
}
.icon-uni33:before {
  content: "\76";
}
.icon-uni34:before {
  content: "\3c";
}
.icon-uni35:before {
  content: "\3e";
}
.icon-uni51:before {
  content: "\2b";
}
.icon-uni55:before {
  content: "\53";
}
.icon-uni5B:before {
  content: "\5b";
}
.icon-uni5C:before {
  content: "\5d";
}
.icon-uniE012:before {
  content: "\62";
}
.icon-uniE037:before {
  content: "\73";
}
.icon-uniE062:before {
  content: "\69";
}
.icon-uniE065:before {
  content: "\63";
}
.icon-uniE06A:before {
  content: "\22";
}
.icon-uniE072:before {
  content: "\49";
}
.icon-uniE076:before {
  content: "\6d";
}
.icon-uniE078:before {
  content: "\42";
}
.icon-uniE07D:before {
  content: "\74";
}
.icon-uniE08A:before {
  content: "\75";
}
.icon-uniE08B:before {
  content: "\67";
}
.icon-uniE093:before {
  content: "\46";
}
.icon-uniE094:before {
  content: "\54";
}
.icon-uniE0DD:before {
  content: "\28";
}
.icon-uniE0F1:before {
  content: "\29";
}

